<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	{% include 'home/script.html' %}
  <link rel="icon" type="image/png" href="{% static 'dashboard/img/favicon.ico' %}"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypt-X</title>
</head>
<body>
    {% include 'home/indexnav.html' %}
      <br>
      <div style="text-align: center;"><img style="width:700px;height:500px;" src="https://zerodha.com/static/images/landing.png" alt=""> </div>
      <!-- <div style="text-align: center;"><img style="width:700px;height:500px;" src="https://www.nasdaq.com/sites/acquia.prod/files/styles/720x400/public/image/4eddbdece8318757fcf92e206cc8def4b5b7af73_finance51.jpg?itok=Oozqp2Ng" alt=""> </div> -->
      <div style="text-align: center;"><p class="fs-1 fw-bolder">Invest in Everything</p></div>
      <div style="text-align: center;"><p class="fs-4 fw-normal">Online platform to invest in stocks, derivatives, mutual funds, and more</p></div>
      <div style="text-align: center;"><a style="text-decoration: none;" href="signup"><button style="height: 50px; width: 130px;vertical-align: middle;display: table-cell;" type="button" class="btn btn-primary">
        <p style="height: 9px;" class="fs-6 fw-bolder">Get Started</p></button></a></div>
      <br>
      <br>
      
</body>
</html>