

<div class="modal fade" id="sell_btn" tabindex="-1" role="dialog" aria-labelledby="sell_btn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered draggable-modal " role="document">
        <div class="modal-content " style="border:4px">

            <div class="modal-header modal-drag-area" style="background-color: #ff9d5c;">
                <h5 class="modal-title">Sell {{coin.name}} </h5>
            </div>

            <form id="sell_form" action="{% url 'handle_sell' %}" method="POST">{% csrf_token %}
                <input type="text" name="symbol" value="{{coin.symbol}}" hidden>
                <div class="modal-body">
                    
                    <div class="container-md">
                        <div class="row">
                            <div class="col-sm">
                                <input type="radio" id="INTRADAY" disabled name="order_time_limit" value="INTRADAY">
                                <label for="Intraday">Intraday</label>
                            </div>
                            <div class="col-sm">
                                <input type="radio" id="CNC" name="order_time_limit" value="CNC" checked>
                                <label for="CNC">CNC</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <fieldset>
                                    <legend>
                                        Qty
                                    </legend>
                                    <input type="text" autocomplete ="off" class="form-control" id="sell_quantity" name="quantity" value="0">
                                </fieldset>
                            </div>
                            <div class="col-sm">
                                <fieldset>
                                    <legend>
                                        Price($)
                                    </legend>
                                    <input type="text" autocomplete ="off"  class="form-control" id="sell_price" disabled name="price" value="0">
                                    <div class="row">
                                        <div class="col-sm">
                                            <input type="radio" id="MARKET" checked name="order_type" value="MARKET">
                                            <label for="MARKET">MARKET</label>
                                        </div>
                                        <div class="col-sm">
                                            <input type="radio" id="LIMIT"  name="order_type" value="LIMIT">
                                            <label for="LIMIT">LIMIT</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm">
                                <fieldset>
                                    <legend>
                                        Trigger
                                    </legend>
                                    <input type="text" autocomplete ="off"  class="form-control" id="limit_price" disabled
                                        placeholder="Trigger" value="0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="radio" id="STOPMARKET" disabled name="order_type"
                                                value="STOPMARKET">
                                            <label for="STOPMARKET">SL</label>
                                        </div>
                                        <div class="col-sm">
                                            <input type="radio" id="STOPLIMIT" disabled name="order_type"
                                                value="STOPLIMIT">
                                            <label for="STOPLIMIT">SL-L</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">

                    <div class="col-sm">
                        Avialable {{coin.symbol}} : <span id="coin_quantity">{{coin_quantity}}</span>
                    </div>
                    <div class="col-sm">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Sell</button>

                    </div>
                    </div>
            </form>

        </div>
    </div>
</div>
