<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'home/script.html' %}
    <link rel="icon" type="image/png" href="{% static 'dashboard/img/favicon.ico' %}"/>
    <title>Crypto Coins</title>
</head>
<body style="background-image: url('https://cutewallpaper.org/21/white-background-1080/White-Wallpaper-7-1920-X-1080-stmed.net.jpg');background-repeat: no-repeat;background-size: cover ;">
    <div style="background-color: #2769ff;height: auto;padding: 1rem;width: 100%;" class="text-center">
        <br>
        <p style="font-size: 5rem;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;"> 
            List of Crypto Coins
        </p>

        <p style="width: 27rem;margin-left: 37%;color: white;" class="text-wrap fs-4">
            Cryptos to watch out for in 2022
        </p>

        <p style="width: 27rem;margin-left: 37%;color: white;" class="text-wrap fs-4">
            The 6 Most Popular Cryptocurrencies, and What You Should Know About Each Before You Invest
        </p>
        
        <p style="width: 27rem;margin-left: 37%;color: white;" class="text-wrap fs-4">
            The Most Popular Cryptocurrencies
        </p>

    </div>
    <div class="container my-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Bitcoin
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The posterboy of crypto was predicted to hit $100,000 by the end of 2021, but the price has failed to hold on to its 52-week high of $68,789 hit during the year. The store of value crypto is expected to trend lower from its current level of $46,751 to $44,000 before it resumes its upward trend. The big trigger could be that 90% of Bitcoin — 18.89 million Bitcoins of 21 million — has already been mined. According to Bloomberg, Bitcoin’s current support level is $40,000, and its initial resistance is $70,000                  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Bitcoin Cash
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Bitcoin Cash is a cryptocurrency that is a fork of Bitcoin. Bitcoin Cash is a spin-off or altcoin that was created in 2017. In November 2018, Bitcoin Cash split further into two cryptocurrencies: Bitcoin Cash and Bitcoin SV.                  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Dogecoin
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Here’s yet another meme coin that’s been on a rollercoaster ride. Dogecoin prices are more influenced by Tesla CEO Elon Musk’s comments than anything else. After initially drubbing the coin, Musk has said that Tesla would be accepting coins for its merchandise, sending it surging 24% to $0.21 in a week. In the coming year, if you are an investor in Dogecoin prices, the only thing that you need to keep a close tab on is the Tesla founder!                  
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Etherum
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    In CY22, Ethereum is expected to move from the current proof-of-work protocol (PoW) stage to proof-of-stake (PoS). PoW involves confirmation of transactions and new block addition to the blockchain, while PoS involves random validation of transactions. According to Coin Price Forecast, Ethereum, whose all-time high was $4,891, will rise in the first half of CY22 to $9,000.                  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Litecoin
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Created by former Google employee Charlie Lee in 2011, Litecoin was seen as a better and faster alternative to Bitcoin. Just like Bitcoin, the supply of Litecoin is limited to 84 million units. According to the latest long-term forecast by Coin Price Forecast, Litecoin will hit $200 by the end of 2022 and $250 by the end of 2023.                 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Shibu Inu
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Shiba Inu is seen more as a speculative investment currency as it lacks a credible application services network compared to its peers. Just like Dogecoin its price has been driven by pure speculative inflows and, hence, the currency could remain in the top charts amid high volatility.                  
                </div>
              </div>
            </div>
          </div>
    </div>
    
</body>
</html>