<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'home/script.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Basics</title>
</head>
<body style="background-image: url('https://cutewallpaper.org/21/white-background-1080/White-Wallpaper-7-1920-X-1080-stmed.net.jpg');">

    <div class="container">
        <p style="font-size: 5rem;"><strong>Crypto Basics:</strong> How Bitcoin works</p>

        <div>
            <img src="https://app.learncrypto.com/file-manager-cache/orig/5f0/c98/7e4/5f0c987e4cc4191aa9b0723a290d40a6/Crypto%20Basics%203x1_test.webp" style="width: 100%;">
        </div>

        <p class="fw-bolder my-3 mx-5" style="font-size: 5rem;">How Bitcoin works</p>

        <br>

        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            In this lesson, we'll explore how Bitcoin achieves sound money in an entirely digital form, and with no one in charge.            
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            Bitcoin was created by an individual (or group of individuals) who went by the alias of Satoshi Nakamoto. To this day, nobody knows (at least publicly) who Satoshi Nakamoto is - and that’s arguably their biggest legacy to the community.            
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            By vanishing into the ether soon after Bitcoin was robust enough, Nakamoto has done away with the first central point of failure.            
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            If gold had been “invented” by someone, that person would arguably hold great influence over their invention. If, moreover, that someone had kept a key that allowed them to control the gold economy, they would wield an ungodly amount of power.             
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            They would also be vulnerable to pleas, bribes, legal action, punches in the face, and otherwise strong pressure to tweak their invention to benefit one party or another - perhaps a government, or the mafia. Either way, the entire system would be vulnerable at a central point. That’s not Bitcoin’s case.             
        </p>

        <br><br>

    </div>
</body>
</html>