<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'home/script.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Basics</title>
</head>
<body style="background-image: url('https://cutewallpaper.org/21/white-background-1080/White-Wallpaper-7-1920-X-1080-stmed.net.jpg');">

    <div class="container">
        <p style="font-size: 5rem;"><strong>Crypto Basics:</strong> Bitcoin, scarcity & trust in money</p>

        <div>
            <img src="https://app.learncrypto.com/file-manager-cache/orig/5f0/c98/7e4/5f0c987e4cc4191aa9b0723a290d40a6/Crypto%20Basics%203x1_test.webp" style="width: 100%;">
        </div>

        <p class="fs-1 fw-bolder my-3 mx-5">What you'll learn</p>

        <br>

        <ol class="mx-5">
            <li>Why scarcity matters so much for sound money</li>
            <li>How the existing money system works</li>
            <li>Fiat money isn't scarce & why that is a problem</li>
            <li>Why achieving digital scarcity is such a big deal </li>
        </ol>
        <br>

        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            In the previous article, you learned the definition and basic characteristics of a cryptocurrency - including the distinction between the money and the money system, and the role of cryptography.            
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            You also had a brief intro to the history and evolution of money up until Bitcoin. This should have given you a grasp on how cryptocurrencies - despite being entirely digital - can have value, the origins of the term “gold standard”, and the basic properties of what makes for sound money: durability, divisibility, fungibility, portability, recognisability and scarcity.            
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            While all forms of digital currency satisfy the first five reasonably well, it turns out it’s surprisingly hard to impose scarcity on any digital thing. This is crucially important because value comes from scarcity. Imagine if gold was as common as sand, or Da Vinci had produced 1 million exact copies of the Mona Lisa.           
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            As well as functioning as a new type of internet money, cryptocurrency is also a very popular form of investment, with eye-popping long-term appreciation.                       
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            The absence of digital scarcity is the biggest weakness of existing money; achieving it was arguably the biggest challenge for cryptocurrency. Explaining both, is our challenge here, and it begins by talking about the importance of money holding value.          
        </p>

        <br><br>

    </div>
</body>
</html>