<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'home/script.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Basics</title>
</head>
<body style="background-image: url('https://cutewallpaper.org/21/white-background-1080/White-Wallpaper-7-1920-X-1080-stmed.net.jpg');">

    <div class="container">
        <p style="font-size: 5rem;" class="my-3 mx-3 fw-bolder">Crypto Basics</p>

        <div>
            <img src="https://app.learncrypto.com/file-manager-cache/orig/5f0/c98/7e4/5f0c987e4cc4191aa9b0723a290d40a6/Crypto%20Basics%203x1_test.webp" style="width: 100%;">
        </div>

        <p class="fs-1 fw-bolder my-3 mx-5">What is Crypto Currency ?</p>
        <p class="fs-1 fw-bolder my-3 mx-5">What you'll learn</p>

        <br>

        <ol class="mx-5">
            <li>A simple definition of crypto & what you can do with it</li>
            <li>How crypto can have value & the concept of sound money</li>
            <li>The evolution of money & the gold standard</li>
            <li>A simple explanation of how Bitcoin works</li>
        </ol>
        <br>

        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            Cryptocurrency is a new kind of internet money. You can use it to buy things online, and you can send it instantly to other users anywhere in the world, at very low cost, needing nothing more than a smartphone and an internet connection.
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            Cryptocurrency can be cheaper and more convenient than many existing services like Paypal or Transferwise, if - for example - you regularly send money overseas. Several million people are actively using it today for that purpose.
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            Worthwhile as that is, it isn't what's drawing people's attention            
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            As well as functioning as a new type of internet money, cryptocurrency is also a very popular form of investment, with eye-popping long-term appreciation.                       
        </p>

        <br>
        
        <p class="mx-5 fs-5 text-wrap" style="width: 36rem;">
            Newcomers to cryptocurrency find this aspect very confusing. How can this new internet money, which can't even be touched, be so valuable?            
        </p>



    </div>
</body>
</html>